<app-header></app-header>
<app-subhead [title]="verse" [heading]="heading"></app-subhead>

<div class="container">
  <div class="row p-5">
    <div class="col-md-6 p-3">
      <a href="#"
        ><img
          src="https://via.placeholder.com/400x400?text='MAP'"
          alt="placeholder"
      /></a>
    </div>
    <div class="col-md-6 p-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="row my-4">
            <div class="col-4">
              <h5>Address:</h5>
            </div>
            <div class="col-8"></div>
          </div>
          <div class="row my-4">
            <div class="col-4">
              <h5>Mobile:</h5>
            </div>
            <div class="col-8"></div>
          </div>
          <div class="row my-4">
            <div class="col-4">
              <h5>Email:</h5>
            </div>
            <div class="col-8"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
