<app-header></app-header>
<app-subhead [title]="verse" [heading]="heading"></app-subhead>

<div class="container cont">
  <div class="cont-details">
    <mat-card class="card-details text-center shadow">
      <mat-card-subtitle>ADDRESS</mat-card-subtitle>
      <mat-card-content>
        <i class="bi bi-person-lines-fill"></i>
        ------------------------------------------
        ------------------------------------------
      </mat-card-content>
    </mat-card>
    <mat-card class="card-details text-center shadow">
      <mat-card-subtitle>MOBILE</mat-card-subtitle>
      <mat-card-content>
        <i class="bi bi-telephone-fill"></i>
        +91 94488 49211
      </mat-card-content>
    </mat-card>
    <mat-card class="card-details text-center shadow">
      <mat-card-subtitle>EMAIL</mat-card-subtitle>
      <mat-card-content>
        <i class="bi bi-envelope-fill"></i>
        edchelladurai@gmail.com
      </mat-card-content>
    </mat-card>
    <!-- <mat-card class="map-card card-details">
      <mat-card-title>Location Map</mat-card-title>
    </mat-card> -->
  </div>
</div>
