<app-header></app-header>
<app-subhead [title]="verse" [heading]="heading"></app-subhead>

<div class="container">
  <div class="row p-5">
    <div class="col-md-4 pe-3">
      <a href="#"
        ><img
          src="https://via.placeholder.com/400x500?text='photo of EDC'"
          alt="placeholder"
      /></a>
    </div>

    <div class="col-md-8 ps-3">
      <p>
        E D Chelladurai was born on October 19th, 1951 in Bengaluru . After
        school, he went on to complete his graduation in Science and has always
        been a seeker after truth. In the year 1973, he received a copy of the
        New Testament and on reading its pages, he came to believe in the Lord
        Jesus Christ as his personal Saviour. He soon joined the Operation
        Mobilisation Evangelical team and served for 12 years without any
        remuneration. He led teams and travelled to the villages of Karnataka
        and Uttar Pradesh to do pioneering evangelism. He later spent some time
        on the ship Logos as a volunteer. While sailing to over 10 different
        countries, he received on-the-job training, and was privileged to have
        George Verwer and Patrick Johnstone visiting them on board. He also had
        Jordan Khan as his cabin mate. <br /><br />
        He was greatly inspired by the life and contact of Bakth Singh. He had
        the privilege of helping DGS Dinakaran, R Stanley, Chris Panos, Ralph
        Mohaney, Zacharias Tanee Fomum, Dr Sam Kamaleson, Darlene Zschech, Dr
        Robert Cunville, Dr Sam Chelladurai and many others as Kannada language
        interpreter in public crusades and TV channels.<br /><br />
        His Scientist friend Dr. Ashirvadam made a lasting impact on his
        understanding of the Holy Scriptures, which was a great influence in
        strengthening his knowledge and faith in the Word of God. Another
        enriching experience he had was the time he spent in Biblica – The
        International Bible Society. He spent about 30 years in Bible
        translation work under the leadership of Dr PLN Murthy and Dr Aldrin
        Bogi. This sharpened his skills in rightly handling the Word of God.
        <br /><br />
        Having graduated in Biblical Languages in Gospel Mission and under Dr
        RaviKumar Nitturu, he is currently engaged in leading a dedicated team
        in publishing the Our Bible versions in English, Kannada, Tamil and
        Telugu. He has spoken on TV channels such as Big J TV and New Hope TV,
        teaching a series of around 1500 studies from Genesis to Revelation. His
        greatest passion is to be a blessing to the world by giving them the
        Word of God. He gratefully acknowledges Zac Poonen as his mentor and
        spiritual father. <br /><br />
        His family consists of his wife, two daughters and their families and
        includes one grandson, Jaden. His brother Kumarswamy is the Bishop of
        the Good Shepherd churches. <br /><br />
        He also pastors an independent church in Bengaluru.
        <br />
      </p>
    </div>
  </div>
</div>
