<app-header></app-header>
<app-subhead [title]="verse" [heading]="heading"></app-subhead>

<div class="container">
  <div class="row p-5">
    <div class="col-md-6 p-3">
      <a href="#"
        ><img
          src="https://via.placeholder.com/400x500?text='photo of EDC'"
          alt="placeholder"
      /></a>
    </div>

    <div class="col-md-6 p-3">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus
        laoreet purus sit amet scelerisque. Donec commodo odio sem, non
        efficitur mauris porttitor id. Fusce turpis lacus, mollis vitae luctus
        eu, consequat eu felis. Cras eget lacus sed nulla rutrum faucibus. Sed
        ut sem in felis mattis mattis. Suspendisse et velit tortor. Phasellus
        placerat, elit eu placerat rutrum, elit libero pretium justo, ac tempus
        risus eros in massa. Cras semper quam nisl, nec iaculis nisl placerat
        et. In sed interdum magna. Proin consequat erat vitae blandit vehicula.
        Vestibulum tristique ipsum pellentesque eros convallis, non ullamcorper
        velit varius. <br /><br />
        Quisque sed consectetur nibh, sed scelerisque nunc. Vivamus quis
        ultrices turpis. In hac habitasse platea dictumst. Curabitur
        sollicitudin vestibulum odio quis volutpat. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas.
        Aliquam sollicitudin sapien a volutpat varius. Sed vehicula ante justo,
        id dictum lacus vestibulum in. Nulla vitae vestibulum nulla. Maecenas
        sodales nisi sit amet ante fringilla vehicula. Vestibulum suscipit nunc
        vel tempor viverra. Nulla vitae rutrum lorem. Proin sollicitudin
        bibendum consequat. Nullam quis leo lorem. Donec nec diam sed lacus
        viverra ullamcorper. Sed ex neque, viverra sit amet pharetra a, varius
        sed massa.<br />
      </p>
    </div>
  </div>
</div>
