<div class="container-fluid vh-10 bg-primary">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 py-3">
        <img
          src="../../../assets/econ.png"
          alt="Ft-Logo"
          class="ft-logo rounded shadow"
        />
      </div>
      <div class="col-md-4 ft-center text-secondary text-center mt-2">
        <h5 class="text-uppercase my-md-0">With the Bible</h5>
        <p class="fst-italic copy">in the company of</p>
        <h4 class="text-uppercase my-md-0">E D Chelladurai</h4>
        <p class="copy">&copy; edchelladurai.com 2022</p>
      </div>
      <div class="col-md-4 text-center">
        <div class="row soc-blocks">
          <a
            href="#"
            class="text-secondary social text-decoration-none"
            target="_blank"
            >Facebook</a
          >|
          <a
            href="#"
            class="text-secondary social text-decoration-none"
            target="_blank"
            >YouTube</a
          >|
          <a
            href="#"
            class="text-secondary social text-decoration-none"
            target="_blank"
            >Instagram</a
          >|
          <a
            href="#"
            class="text-secondary social text-decoration-none"
            target="_blank"
            >LinkedIn</a
          >|
          <a
            href="#"
            class="text-secondary social text-decoration-none"
            target="_blank"
            >Twitter</a
          >|
          <a
            href="#"
            class="text-secondary social text-decoration-none"
            target="_blank"
            >Email</a
          >
        </div>
        <div class="row"></div>
      </div>
    </div>
  </div>
</div>
