.ft-logo {
  width: 8vw;
  display: inline-block;
}

.copy {
  font-size: 0.7rem;
  margin-bottom: 0;
}

.soc-blocks {
  display: inline-block;
  font-size: 0.8rem;
}

.inblock {
  display: inline-block;
  font-size: 1.2rem;
  margin-top: 2rem;
}
