<div class="container-fluid vh-10 bg-primary">
  <div class="row align-items-center">
    <div class="col-md-4 py-3 text-center">
      <img
        src="../../../assets/econ.png"
        alt="Ft-Logo"
        class="ft-logo rounded shadow"
      />
    </div>

    <div class="col-md-4 text-center">
      <div class="row inblock">
        <a
          href="https://facebook.com/"
          class="text-secondary social text-decoration-none"
          target="_blank"
          ><i class="bi bi-facebook"></i
        ></a>
        <a
          href="https://youtube.com/"
          class="text-secondary social text-decoration-none"
          target="_blank"
          ><i class="bi bi-youtube"></i
        ></a>
        <a
          href="https://instagram.com/"
          class="text-secondary social text-decoration-none"
          target="_blank"
          ><i class="bi bi-instagram"></i
        ></a>
        <a
          href="https://open.spotify.com/show/0v51nnk1ZJRcbDyvCk7z00?si=rsvXP8rDRhi7C2A9DkfkXQ/"
          class="text-secondary social text-decoration-none"
          target="_blank"
          ><i class="bi bi-spotify"></i
        ></a>
        <a
          href="https://www.apple.com/in/apple-podcasts/"
          class="text-secondary social text-decoration-none"
          target="_blank"
          ><i class="bi bi-apple"></i
        ></a>
      </div>
      <div class="row mt-md-2">
        <p class="copy">&copy; edchelladurai.com 2022</p>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <button
        class="btn btn-secondary topofpage"
        type="button"
        (click)="goTopOfPage()"
      >
        <i class="bi bi-arrow-up-circle-fill"></i>
      </button>
    </div>
  </div>
</div>
