.ft-logo {
  width: 8vw;
  display: inline-block;
  margin-left: 7rem;
}

.social {
  font-size: 0.8rem;
}

.copy {
  font-size: 0.7rem;
  margin-bottom: 0;
}

.soc-blocks {
  display: inline-block;
}
