<app-header></app-header>
<app-subhead [title]="verse" [heading]="heading"></app-subhead>

<div class="container text-center card-width">
  <mat-card>
    <mat-card-subtitle class="mb-3"
      >Select Testament, Book & Chapter
    </mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field appearance="fill" class="formgroup mt-3">
          <mat-label>Testament</mat-label>
          <mat-select formControlName="testament">
            <mat-option *ngFor="let testa of testaments" [value]="testa.cat">
              {{ testa.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="testa.invalid">Testament is mandatory!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="formgroup">
          <mat-label>Book</mat-label>
          <mat-select formControlName="book">
            <mat-option *ngFor="let book of books$ | async" [value]="book.book">
              {{ book.book }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="book.invalid">Book is mandatory!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="formgroup">
          <mat-label>Chapter</mat-label>
          <mat-select
            formControlName="track"
            (selectionChange)="onSelectTrack()"
          >
            <mat-option *ngFor="let track of tracks" [value]="track.name">
              {{ track.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="track.invalid">Chapter is mandatory!</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="button"
        [disabled]="!form.valid || !currentTrack"
        class="btn btn-primary px-5"
        (click)="playTrack()"
      >
        PLAY
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div
  *ngIf="activeTrack"
  class="container d-flex justify-content-center px-5 mb-5"
>
  <audio controls autoplay [src]="playingTrack.path"></audio>
</div>
