.headerpic {
  height: 8vw;
  background-image: linear-gradient(
      to bottom,
      rgb(86, 150, 113, 0.9),
      rgb(86, 150, 113, 0.8)
    ),
    url(../../../assets/homepic.jpg);
  background-size: cover;
  background-position: center;
}

.hd-logo {
  width: 6vw;
  display: inline-block;
}

#navmenu {
  font-size: 0.9rem;

  a:hover {
    text-decoration: underline;
  }
}

.active-link {
  font-weight: bold;
}

.mainlogo {
  width: 60vw;
}

.ddmenu {
  font-size: 0.9rem;
  text-decoration: none;
}
