.topnav {
  background-color: rgb(187, 213, 198, 0.5);
}

.logo {
  width: 15vw;
}

#navmenu {
  font-size: 0.9rem;

  a:hover {
    text-decoration: underline;
  }
}

.active-link {
  font-weight: bold;
}

.ddmenu {
  font-size: 0.9rem;
}
