<nav class="navbar navbar-expand-md navbar-light pt-0 pb-1">
  <div class="container custcont">
    <a routerLink="/" class="navbar-brand">
      <img
        src="../../../assets/logo-clipped.png"
        alt="Logo"
        class="logo rounded shadow"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item px-2">
          <a
            routerLink="about"
            class="nav-link text-primary"
            routerLinkActive="active-link"
            >About</a
          >
        </li>
        <li class="nav-item px-2">
          <a
            routerLink="gentorev"
            class="nav-link text-primary"
            routerLinkActive="active-link"
            >Gen-Rev</a
          >
        </li>
        <li class="nav-item px-2">
          <a
            routerLink="wordftd"
            class="nav-link text-primary"
            routerLinkActive="active-link"
            >Daily Word</a
          >
        </li>
        <li class="nav-item px-2">
          <a
            routerLink="videos"
            class="nav-link text-primary"
            routerLinkActive="active-link"
            >Videos</a
          >
        </li>
        <li class="nav-item px-2">
          <a
            routerLink="resources"
            class="nav-link text-primary"
            routerLinkActive="active-link"
            >Resources</a
          >
        </li>
        <li class="nav-item px-2">
          <a
            routerLink="contact"
            class="nav-link text-primary"
            routerLinkActive="active-link"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
