<div class="headerpic shadow">
  <div class="container topnav">
    <nav class="topnav navbar navbar-expand-md navbar-dark pt-0 pb-1">
      <div class="container topnav">
        <!-- header logo -->
        <a routerLink="/" class="navbar-brand">
          <img
            src="../../../assets/econ.png"
            alt="Logo"
            class="hd-logo mt-2 rounded"
          />
        </a>
        <!-- toggler menu button for small screens -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- main menu -->
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item px-2">
              <a
                routerLink="/about"
                class="nav-link text-secondary"
                routerLinkActive="active-link"
                >About</a
              >
            </li>
            <li class="nav-item px-2">
              <a
                routerLink="/ytplaylist"
                class="nav-link text-secondary"
                routerLinkActive="active-link"
                >Messages</a
              >
            </li>
            <li class="nav-item dropdown px-2">
              <a
                class="nav-link text-secondary dropdown-toggle"
                data-bs-toggle="dropdown"
                routerLinkActive="active-link"
                type="button"
                >Daily Word</a
              >
              <!-- drop down menu for Daily Word -->
              <ul class="dropdown-menu dropdown-menu-dark bg-primary ddmenu">
                <li>
                  <a
                    class="dropdown-item text-decoration-none"
                    routerLink="/wordftd"
                    >Audio / Text</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item text-decoration-none"
                    routerLink="/wordftdv"
                    >Video</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown px-2">
              <a
                class="nav-link text-secondary dropdown-toggle"
                data-bs-toggle="dropdown"
                routerLinkActive="active-link"
                type="button"
                >Resources</a
              >
              <!-- drop down menu for Resources -->
              <ul class="dropdown-menu dropdown-menu-dark bg-primary ddmenu">
                <li>
                  <a
                    class="dropdown-item text-decoration-none"
                    data-bs-toggle="dropdown"
                    routerLinkActive="active-link"
                    type="button"
                    >Audio &raquo;</a
                  >
                  <!-- drop down menu for Resources-> Audio -->
                  <ul class="dropdown-menu bg-primary dropdown-submenu ddmenu">
                    <li>
                      <a
                        class="dropdown-item text-decoration-none"
                        routerLink="/wtbaudio"
                        >With the Bible</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="/wordftd"
                        class="dropdown-item text-decoration-none"
                        >Daily Word</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="/qanda"
                        class="dropdown-item text-decoration-none"
                        >Q and A</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="/sermonseries"
                        class="dropdown-item text-decoration-none"
                        >Sermons</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-decoration-none"
                        routerLink="/messageaudio"
                        >Other's Messages</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    class="dropdown-item text-decoration-none"
                    data-bs-toggle="dropdown"
                    routerLinkActive="active-link"
                    type="button"
                    >Video &raquo;</a
                  >
                  <!-- drop down menu for Resources-> Video -->
                  <ul
                    class="dropdown-menu dropdown-menu-dark bg-primary dropdown-submenu"
                  >
                    <li>
                      <a
                        routerLink="/wtbvideo"
                        class="dropdown-item text-decoration-none"
                        >With the Bible</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="/wordftdv"
                        class="dropdown-item text-decoration-none"
                        >Daily Word</a
                      >
                    </li>
                    <li>
                      <a
                        routerLink="/ytplaylist"
                        class="dropdown-item text-decoration-none"
                        >Sermons</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-decoration-none"
                        routerLink="/resources"
                        >Other's Messages</a
                      >
                    </li>
                  </ul>
                </li>

                <li>
                  <a
                    class="dropdown-item text-decoration-none"
                    routerLink="/books"
                    >Books</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item text-decoration-none"
                    routerLink="/songs"
                    >Songs</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item text-decoration-none"
                    routerLink="/qanda"
                    >Q and A</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item px-2">
              <a
                routerLink="/contact"
                class="nav-link text-secondary"
                routerLinkActive="active-link"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
