<div class="container">
  <h4>Namma Bible Studies App</h4>
  <h2>Privacy Policy</h2>

  <div class="content">
    <p>Last updated: December 02, 2023</p>
    <p>
      This Privacy Policy describes our policies and procedures about your
      privacy rights when you use this App.
    </p>

    <h5>About Data Collection</h5>
    <p>
      This app does not collect any user information and is published for
      completely free and voluntary use. As far as we know, we do not run any
      kind of analytics on users that access the app.
    </p>

    <h5>About links to Websites</h5>
    <p>
      Our App only contains a link to the website that is operated by the
      creator of the app and for the purpose of giving voluntary access to more
      information.
    </p>

    <h5>About changes to our Privacy Policy</h5>
    <p>
      We may update Our Privacy Policy from time to time. We will notify You of
      any changes by posting the new Privacy Policy on this page. You are
      advised to review this Privacy Policy periodically for any changes.
      Changes to this Privacy Policy are effective when they are posted on this
      page.
    </p>
    <p>
      If you have any questions about this Privacy Policy, You can contact us:
    </p>
    <ul>
      <li>By email: edchelladurai@gmail.com</li>
      <li>By phone number: +919448849211</li>
    </ul>
  </div>
</div>
