<app-header></app-header>
<app-subhead [heading]="heading"></app-subhead>

<div class="booklist">
  <mat-grid-list cols="5" rowHeight="400px" gutterSize="10px">
    <mat-grid-tile *ngFor="let book of books">
      <a [href]="book.filepath" target="_blank">
        <img
          [src]="book.thumbpath"
          alt="Book"
          style="width: 100%; height: 100%; object-fit: cover"
      /></a>
      <mat-grid-tile-footer>
        {{ book.title }} : {{ book.author }}</mat-grid-tile-footer
      >
    </mat-grid-tile>
  </mat-grid-list>
</div>
