.homepic {
  height: 40vw;
  background-image: linear-gradient(
      to bottom,
      rgb(86, 150, 113, 0.9),
      rgb(86, 150, 113, 0.8)
    ),
    url(../../../assets/homepic.jpg);
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin: auto;
}

.custcard {
  background-color: rgb(238, 238, 238, 0.7);
  padding: 1rem;

  h5 {
    font-size: 0.9rem;
    font-weight: 600;
  }

  p,
  a {
    font-size: 0.8rem;
  }
}

.home-cont {
  background-color: rgb(253, 237, 175);
  padding: 2rem 3rem;
  align-items: center;

  p {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 600;
  }

  a {
    font-size: 0.8rem;
    margin: auto;
  }
}

.hd-logo {
  width: 6vw;
  display: inline-block;
}

#navmenu {
  font-size: 0.9rem;

  a:hover {
    text-decoration: underline;
  }
}

.active-link {
  font-weight: bold;
}

.edcimg {
  display: flex;
  justify-content: center;
}

.mainlogo {
  width: 60vw;
}

.ddmenu {
  font-size: 0.9rem;
}
