.homepic {
  height: 70vh;
  background-image: linear-gradient(
      to bottom,
      rgb(250, 218, 95, 0.8),
      rgb(253, 237, 175, 0.8)
    ),
    url(../../../assets/homepic.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.home-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  &--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1rem;
    text-align: center;
    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1rem;
    text-align: center;
    animation: moveInRight 1s ease-out;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-6.25rem);
  }

  80% {
    transform: translateX(0.625rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(6.25rem);
  }

  80% {
    transform: translateX(-0.625rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.main {
  margin-bottom: 4rem;
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin: auto;
}

.custcard {
  background-color: rgb(238, 238, 238, 0.7);
  padding: 1rem;

  h5 {
    font-size: 0.9rem;
    font-weight: 600;
  }

  p,
  a {
    font-size: 0.8rem;
  }
}

.home-cont {
  background-image: linear-gradient(
      to bottom,
      rgb(250, 218, 95, 0.8),
      rgb(253, 237, 175, 0.8)
    ),
    url(../../../assets/homepic.jpg);
  background-size: cover;
  background-position: center;
  padding: 2rem 4rem;
  align-items: center;

  p {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 600;
  }

  a {
    font-size: 0.8rem;
    margin: auto;
  }
}
