.subhead {
  background-image: linear-gradient(
      to bottom,
      rgb(242, 242, 242, 0.8),
      rgb(242, 242, 242, 0.8)
    ),
    url(../../../assets/homepic.jpg);
  background-size: cover;
  background-position: center;
  padding: 6rem 5rem;
  align-items: center;
  height: 20vw;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin: auto;
  max-height: 40vh;
}

h2 {
  font-size: clamp(1rem, 2vw, 10vw);
}
