.subhead {
  background-image: linear-gradient(
      to bottom,
      rgb(242, 242, 242, 0.8),
      rgb(242, 242, 242, 0.8)
    ),
    url(../../../assets/homepic.jpg);
  padding: 8rem 10rem;
  align-items: center;
  height: 50vh;
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin: auto;
}
