.mat-dialog-content {
  width: 60vw;
  height: 60vh;
}

.close-button {
  background-color: rgb(86, 150, 113, 0.9);
  color: #fff;
}

.qa {
  padding: 2em;
}

@media (max-width: 900px) {
  .mat-dialog-content {
    width: 90vw;
    height: 50vh;
  }

  .qa {
    padding-right: 12vw;
    padding-left: 5vw;
  }
}
