$edcweb-primary: (
  50: #ebf2ee,
  100: #cce0d4,
  200: #abcbb8,
  300: #89b69c,
  400: #6fa686,
  500: #569671,
  600: #4f8e69,
  700: #45835e,
  800: #3c7954,
  900: #2b6842,
  A100: #b0ffcc,
  A200: #7dffab,
  A400: #4aff8a,
  A700: #30ff7a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$edcweb-accent: (
  50: #fefbec,
  100: #fef4cf,
  200: #fdedaf,
  300: #fce58f,
  400: #fbe077,
  500: #fada5f,
  600: #f9d657,
  700: #f9d04d,
  800: #f8cb43,
  900: #f6c232,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff3d4,
  A700: #ffecbb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
