$primary: #569671; // rgb(86, 150, 113)
$secondary: #fada5f; // rgb(250, 218, 95)

$primary-light: #bbd5c6; // rgb(187, 213, 198)
$secondary-light: #fdedaf; // rgb(253, 237, 175)

// $main-bg: #eeeeee; // rgb(238, 238, 238)

$font-family-sans-serif: "Open Sans", Roboto, system-ui, -apple-system,
  "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";

$enable-gradients: true;
$enable-shadows: true;

@import "../node_modules/bootstrap/scss/bootstrap";

.banner {
  height: 55vh;
}

.dropdown-menu li {
  position: relative;
  width: 80%;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  font-size: 0.9rem;
}

// .dropdown-menu .dropdown-submenu-left {
//   right: 100%;
//   left: auto;
// }

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}
